[2019-06-04 21:16] mortezah opened #17 "Inheritance and Dynamic casting in python"
@sshiraiwa

Assuming that I have all the wrappers implemented, what would be the best way to achieve the equivalent of the following C++ code in python:

[code]

Here `ParPumiMesh` is a subclass of `ParMesh`.

[2019-06-05 09:16] sshiraiwa commented on #17
I encountered a similar situation with mfem::BlockOperator::GetBlock, which returns the baseclass object. My solution was to add Opr2SparseMat and Opr2HypreParMat

I added ParMesh2ParPumiMesh in pumi.i. Please pull the one from pumi_dev sshiraiwa/PyMFEM

[2019-06-05 18:23] mortezah commented on #17
@sshiraiwa

This worked. Thanks.

I am also closing this issue.

[2019-06-06 18:49] mortezah opened #18 "Question: What is the equivalent of C++ arrays in the wrappers"
@sshiraiwa

What would be the best way to achieve the equivalent of the following c++ code using the python wrappers:

[code]

More specifically, the last 2 lines.

[2019-06-06 19:30] #17 closed

[2019-06-06 19:39] sshiraiwa commented on #18
This method is not wrapped in a special way. But can you use ip.Set3(0, 0, 0); ?

[2019-06-07 01:49] mortezah commented on #18
That worked. Thanks.

[2019-06-07 01:49] #18 closed

[2019-06-24 12:47] sshiraiwa opened #20 "Steps toward MFEM 4.0 and Python 3 support"
* branch name MFEM4_dev

- [x] Absorb Python 2.7 and 3.7 C API difference
- [x] Add __future__ detectives, remove raw_input and other Python 3.7
- [x] Check existing tests
- [x] Eliminate libboost dependency

- [ ] Add ex20,  ex21 ex20p,  ex21p
- [ ] Clean up old files.
- [ ] PIP support ?
- [ ] Strumpack
- [x] Test on ubuntu18, centos7
- [x] Test on macOS

[2019-10-14 18:07] rw-anderson opened #22 "cxx11flag in mfem/_ser/setup.py"
In the line:

extra_compile_args = [cxx11flag, '-DSWIG_TYPE_TABLE=PyMFEM']

where is cxx11flag supposed to come from?  It errors out as an undefined name for me when I invoke make ser.

[2019-10-14 21:26] sshiraiwa commented on #22
This is a flag to turn on C11 feature in compiler. Can you export it before
running make

export CXX11FLAG=-std=c++11
make ser

[2019-10-15 20:07] rw-anderson commented on #22
Ok, thanks, that seemed to work.  I don't think that's mentioned in the INSTALL instructions, and it fails if it isn't set.

[2019-10-15 20:15] rw-anderson opened #23 "segfault in ncmesh interface"
The minimal C++ test program to call the method GetElementDepth() on ncmesh:

[code]
produces the expected output of "depth = 0" with a clean exit.

But what I think is the equivalent program in PyMFEM:

[code]

results in a segfault at the call to GetElementDepth.

Any thoughts on this?

[2019-10-15 22:38] sshiraiwa commented on #23
Thank you for reporting this. I was able to reproduce it. I don't see
obvious reason to do seg-fault, but I am guessing this is some memory handling
issue? Looking into it.

[2019-10-23 21:43] sshiraiwa commented on #23
It turned out that this is caused may missing
   import_array();
in ncmesh.i (SWIG recipe file). I am going to check if there is similar error in other *.I file, and make a fix.

[2019-10-25 14:37] sshiraiwa commented on #22
Thank you for verifying it. INSTALL instruction will be updated in the next pull request to address the issue #23

[2019-11-08 01:41] #23 closed

[2019-11-08 01:41] #22 closed

[2020-04-23 08:39] Pratikk17 opened #28 "Read mesh from GMSH into PyMFEM"
Dear Sir,

I have a mesh generated using GMSH (in .msh) format. I can view it using glvis. But I do not understand how to import it into MFEM. What changes need to be done in the statement
"mesh=mfem.Mesh(meshfile,1,1) ?
Sorry for basic question.
Thank you very much.
Best,
Pratik

[2020-04-24 12:24] v-dobrev commented on #28
Just for reference: this question was answered here: https://github.com/mfem/mfem/issues/1438

[2020-05-11 01:21] mortezah opened #29 "SaveVTK and PrintVTK wrappers"
Are wrappers for `Mesh::void PrintVTK(std::ostream &out, int ref, int field_data=0);` and  `GridFunction::SaveVTK(std::ostream &out, const std::string &field_name, int ref); `, implemented in PyMFEM? If yes, how should one create a `std::ostream` object in python and pass it to the corresponding wrapper?

[2020-06-13 13:39] sshiraiwa commented on #28
mesh=mfem.Mesh(meshfile,1,1)

[2020-06-13 13:39] #28 closed

[2020-06-13 13:43] sshiraiwa commented on #20
I am closing this and moving the left over to a new issue panel

[2020-06-13 13:43] #20 closed

[2020-06-13 13:44] sshiraiwa opened #31 "Tasks to be done.."
- [x] Clean up old files.
- [x] PIP support ?
- [ ] Strumpack
- [x] Support numba function for coefficient
- [x] Perform tests using examples
- [x] gz compressed files
- [ ] Binary release for Mac
- [x] libCeed support
- [ ] DenseMatrix Constructor from numpy array
- [ ] hypre mixedint support?
- [x] ex0, ex0p
- [x] ex20, ex20p
- [x] ex21, ex21p
- [x] ex22, ex22p
- [x] ex23
- [x] ex24, ex24p
- [ ]

[2020-10-30 04:15] rw-anderson opened #34 "Use of GetCoarseToFineMap() interface"
Is it currently possible to use the GetCoarseToFineMap() interface to mfem::CoarseFineTransformations?

I am able to call:
cft = mesh.GetRefinementTransforms()

but then I can't figure out how to call:

cft.GetCoarseToFineMap(mesh, coarse_to_fine, coarse_to_ref_type, ref_type_to_matrix, ref_type_to_geom)

without getting a type error on the ref_type_to_geom argument, which expects an mfem::Array<

[2020-10-30 20:33] sshiraiwa commented on #34
Array is a template class and we need to instantiate in a wrapper to use it. Currently, we don't have it.
My question is how this array is generally used. Can you point me a sample code (C or Python)?

[2020-10-30 22:10] rw-anderson commented on #34
The only example I know of that uses that array is in fespace.cpp:

[code]
ref_type holds information about the whether the refinement is isotropic or anisotropic and in which direction(s). Geometry::Type maps to element geometry like SEGMENT or TRIANGLE or SQUARE.

In my case I'm not actually interested in using that array.  I'm interested in the coarse_to_fine table, but I can't call the functio

[2020-10-30 22:32] rw-anderson commented on #34
Here's a small working example that gives the basic idea.  It shows 3 different refinement types used on a quad mesh.

[code]

[2020-11-02 16:34] sshiraiwa commented on #29
This is very late response (sorry)
We wrap std::ostream using https://github.com/mfem/PyMFEM/blob/master/mfem/common/io_stream_typemap.i
For a user perspective, passing a file name instead of the ostreme object will do the trick.

[2020-11-02 16:36] mortezah commented on #29
No worries. I figured that out shortly after posting the issue. I should have removed the issue but I forget.

[2020-11-02 16:37] #29 closed

[2020-11-02 20:43] sshiraiwa commented on #34
Thank you @rw-anderson for the example.

Please take a look at https://github.com/mfem/PyMFEM/blob/mfem_42_dev/test/test_ncmesh.py
Note that this branch assumes MFEM 4.2

[2020-11-03 02:10] rw-anderson commented on #34
Looks great.  I will test it out.

[2020-11-11 13:59] sshiraiwa opened #36 "how does "pip install mfem" should work????"
Since PyMFEM 4.2 passed my test, I started looking into the idea of making mfem + wrapper install-able from pip.

And I would like to have your input in terms of how/what PIP installer should do.
My current thought is following.

For the wrapper to work, at the very minimum, the following three should happen
1) Install a specific version of mfem
2) built it as a dynamic library
3) build the wrappe

[2020-11-11 14:34] jcwright77 commented on #36
Just my two cents:
pip is for installing python modules and their python dependencies. It does
not install underlying system libraries. For example pip install mysql does
not install mysql itself only the python wrappers.

I would suggest relying on other existing ways of installing mfem itself such
as spack or the existing make/cmake in the distribution. If you want a full
stack package manager f

[2020-11-11 15:10] sshiraiwa commented on #36
@jcwright77 Thank for supporting the plan. Yes, CMAKE in MFEM distribution will be used to install
mfem.

From user's perspective, however, installing the wrapper without installing mfem ready to use doesn't
make much sense. The idea, here, is to minimize what a new user needs to do. For example, when
he/she installs ubuntu to a new PC box, and wants to try mfem with Python w/o before doing anythi

[2020-11-11 15:27] jcwright77 commented on #36
Ok I stand corrected. A single install command will be useful. I guess pip packages are a little inconsistent on what they do.

-john

[2020-11-11 21:22] v-dobrev commented on #36
I think it makes sense for `pip install mfem` to install the minimal parallel version of MFEM -- this requires c++ compiler, MPI, METIS and HYPRE. If users want to enable more external libraries in MFEM, things will be tricky. They can build the extended version of MFEM themselves and point PyMFEM to that build with an environment variable. However, I don't know if PyMFEM can update itself and cre

[2020-11-11 21:47] sshiraiwa commented on #36
@v-dobrev Thank you for your input. I think we will add mpi4py as a dependency when installing the parallel version.
We can then ask mpi4py what mpi compiler is used. Installing METIS and HYPRE from setup.py is certainly possible.

Regarding other dependencies, ]I think we can write setup.py to run SWIG to generate a wrapper code when extra flat
like --with-mumps is on. Then, in the script to gene

[2020-11-12 00:10] v-dobrev commented on #36
So if you first install `pip install mfem` and later decide to build your own MFEM version with more external libraries, then you just need to re-install the `mfem` python package (pointing it to the new MFEM build with an environment variable). Is that what you're thinking?

[2020-11-12 12:46] sshiraiwa commented on #36
@v-dobrev. Yes. Just to be clear, I am thinking to create the following command like options.

python setup.py                          # install mfem and PyMFEM in serial
python setup.py --with-parallel    # install mfem/metis/hypre and PyMFEM in both serial and parallel (require mpi4py)
python setup.py --mfem-prefix = <somewhere>   # use <somewhere>/include/mfem/config/config.hpp and other heade

[2020-11-18 20:21] sshiraiwa commented on #36
Thank you for your inputs.  I am putting together a new setup script, and I am testing it on TestPyPI.

https://test.pypi.org/project/mfem/

This is not the official PyPI. It is a site meant for testing a PyPI package.
I am still testing this. I am going to do at least following test before putting it to PyPI

- [ ]  build on MacOS
- [ ]  check parallel build
- [ ]  add --cuda option  (I need this

[2020-12-02 04:05] shubiuh opened #42 "Typo in ex1.py"
There is a typo https://github.com/mfem/PyMFEM/blob/8f85bffe82c16b6122fce4e0d6d400cf335e47ea/examples/ex1.py#L71. It should be "print".

[2020-12-05 18:27] sshiraiwa commented on #42
@shubiuh, Thank you. This will be fixed in https://github.com/mfem/PyMFEM/pull/43

[2020-12-05 18:27] #42 closed

[2020-12-08 21:50] sshiraiwa commented on #36
Closing this issue with this ScreenShot ;D
Additionally, this repo is now configured to test  a release is using Github action.
![Screenshot from 2020-12-08 16-48-32](https://user-images.githubusercontent.com/1929159/101545471-4c5c3400-3975-11eb-9442-a70bd9bfc74c.png)

[2020-12-08 21:50] #36 closed

[2020-12-19 22:58] v-dobrev commented on #36
For completeness, the link to the PyPI page is: https://pypi.org/project/mfem.

[2020-12-23 17:21] flow-phys opened #45 "Hypre link error with parallel builds"
I'm having trouble building the code this way on LLNL's rzgenie machine:
virtualenv python3.7 myenv
source myenv/bin/activate.csh
pip3 download mfem
pip setup.py install --with-parallel

Seems to get quite far, though fails with an mpic+++ link error:
mpic++ -pthread -shared -L/collab/usr/gapps/python/build/spack-toss3.3/opt/spack/linux-rhel7-x86_64/gcc-4.9.3/sqlite-3.26.0-a7m6nmm5j2swmqfafff6ajhb

[2020-12-23 17:43] tzanio commented on #45
@sshiraiwa and @rw-anderson, can you help Britton?

[2020-12-23 17:56] sshiraiwa commented on #45
@flow-phys I will try the same command inputs on my local linux box. Meantime, can you please paste the entire log message.
pip setup.py install --with-parallel
is supposed to download/build/install HYPRE itself too. I suspect something wrong occurred earlier since it can not find HYPRE.

[2020-12-23 18:29] sshiraiwa commented on #45
I did test it in a new virtualenv. I did
$ virtualenv  myenv
$ source myenv/bin/activate
$ pip install numpy
$ pip install mpi4py
$ pip download mfem
(after expanding it and cd to the subdir)
$ python setup.py install --with-parallel

The link line corresponding to the error is

mpic++ -pthread -shared -Wl,-O1 -Wl,-Bsymbolic-functions -Wl,-Bsymbolic-functions -Wl,-z,relro -g -fwrapv -O2 -Wl,-Bsymb

[2020-12-23 21:23] flow-phys commented on #45
@sshiraiwa , thanks for the reply. I actually named my virtualenv "py3.7" (not "myenv")... I should have been precise in what I actually typed.  (just replace "myenv" with "py3.7" in my first comment.)

Hypre does appear to have install correctly; the libHYPRE.so file it located at:
/usr/WS2/olson45/pyranda/HYPRE_SAND/py3.7/mfem/lib64

Any thoughts?

[2020-12-23 23:14] sshiraiwa commented on #45
I see. I forgot there is a possibility that it is installed in lib64 instead of  lib.
setup.py script assumes it is in lib. Can you try to make a link, something like
ln -s /usr/WS2/olson45/pyranda/HYPRE_SAND/py3.7/mfem/lib64/libHYPRE.so /usr/WS2/olson45/pyranda/HYPRE_SAND/py3.7/mfem/lib/libHYPRE.so
You probably need to do the same for METIS too. Please let me know if this works.

[2020-12-24 06:13] benzwick opened #46 "Error when importing PyMFEM installed using pip"
First of all, I want to say that it's amazing that there is now such an easy way to install PyMFEM using pip!

I tried to install this on Ubuntu 20.04 using the following command:
[code]
which appeared to be successful.

Then I tried to run example 1 but it failed with the following error:
[code]

Do you know what I might have done wrong or could there a problem with the setup.py file?

[2020-12-24 16:18] sshiraiwa commented on #46
@benzwick
Thank you for reporting this. Can you please try explicitly giving --prefix, as follows?
You may need --force-reinstall so that pip3 will install
it from source. (--verbose option prints out all build steps, which may be help too, if this doesn't work)
pip3 install mfem --no-binary mfem   --prefix=~/.local --force-reinstall --verbose

The root cause is that pip builds the library in a te

[2020-12-27 12:53] sshiraiwa commented on #46
I put 4.2.0.2 in PyPI. If you haven't installed with prefix as mentioned above,
please try this version, if it indeed solves the problem in your environment.

[2020-12-27 12:54] sshiraiwa commented on #45
I put 4.2.0.2 in PyPI. If you haven't tried adding a link to libHYPRE.so, as mentioned above,
please try this version, if it indeed solves the problem in your environment.
Please let me know. Thank you.

[2020-12-30 05:29] benzwick commented on #46
@sshiraiwa I tried the new version and it works now. Thank you for fixing this so quickly.

[2020-12-30 05:29] #46 closed

[2021-01-05 00:01] flow-phys commented on #45
@sshiraiwa I can confirm that the updated setup.py has fixed my build.  Thanks for the help and quick fix.
Best

[2021-01-05 00:01] #45 closed

[2021-01-05 12:33] sshiraiwa commented on #45
@flow-phys Thank you for the confirmation.

[2021-01-15 01:16] tzanio opened #49 "Consider including Jupyter examples"
Consider including [Jupyter](https://jupyter.org/) versions of the examples. See e.g. ex1 and ex9 in https://github.com/GLVis/pyglvis/tree/master/examples.

Ideally hosted also on [Binder](https://mybinder.org/).

[2021-02-07 16:18] sshiraiwa commented on #49
Thanks. Base on the off-line discussion, a new Action to create binary release (https://github.com/mfem/PyMFEM/pull/51) is created. (In my understanding, this allows for simplifying a notebook on Binder.). The rest should be straightforward (perhaps), but I will continue to look into it. A pull request for this (and for other things) is always welcome ;D.

[2021-02-14 18:37] #49 closed

[2021-03-05 21:42] kaigaox opened #57 "Assign spatially varying matrix coefficient"
Hi,

Is there an example on how to assign matrix coefficient to each of the elements in the mesh?

[2021-03-06 08:35] sshiraiwa commented on #57
May I ask how your coefficient is defined? If it is a regular function of position, x, y, z, then
one can use MatrixFunctionCoefficient. This can be done in a similar way as VectorPyCoefficient shown in this example https://github.com/mfem/PyMFEM/blob/master/examples/ex3.py#L25. If you are looking for a way to define it differently for example by using finite element index, we need to write it usi

[2021-03-06 19:39] kaigaox commented on #57
Thanks for the instruction. My coefficients are defined in a n1xn2xn3 discreate grid points in space (regularly sampled, loaded from external file), not an analytical function, and the coefficient is a 3x3 matrix at each grid point. I didn't figure out how to define such a coefficient and apply it to the Poisson during pymfem. What the appropriate mfem API for this and does pymfem include an examp

[2021-03-10 18:44] gillette7 opened #58 "Install issues"
Hi - I'm trying to use pymfem on the supercomputer clusters at LLNL.  I'm using a virtual environment and had no issue with the command `pip install mfem.`  But then, it seems it's not working as a python package:
[code]
I also tried this:
[code]
I feel like I'm missing something basic... any suggestions?  Thanks!

[2021-03-10 19:32] sshiraiwa commented on #58
For the first one, loading PyMFEM at the beginning is either

import mfem.ser as mfem
or
import mfem.par as mfem (if you build parallel version)

The second pattern is new to me. In the error message, it says

ImportError: numpy.core.multiarray failed to import,

which sounds like some error in linking numpy??? I suppose you have .so file in the
/g/g12/gillette/projects/intro2merlin/merlin_venv/li

[2021-03-10 21:57] gillette7 commented on #58
Here's what I get:

[code]
I have a regular, compiled build of mfem in `/usr/workspace/gillette/software/repos/mfem` - not sure if this matters at all.  Thanks for your help!
-- Andrew

[2021-03-10 22:07] gillette7 commented on #58
Ah - I think I just fixed this with
`pip install -U numpy`
I'll close this issue for now - will re-open if something else comes up.

[2021-03-10 22:07] #58 closed

[2021-03-10 22:10] sshiraiwa commented on #58
Okay. Great. I suppose we should put numpy as a dependency….

[2021-03-10 22:33] gillette7 commented on #58
Maybe it's a version issue?  It was strange because I already had `numpy` installed (version 1.18.3) but it needed 1.20.1 to work.  Anyways, resolved now!

[2021-03-19 21:21] gillette7 opened #59 "How to use FunctionCoefficient"
I'm trying to use `FunctionCoefficient` in pymfem.  For regular mfem, the syntax I've used succesfully is:
[code]
and then
[code]

How does the syntax work for pymfem?  I tried this:
[code]
but I get this error:

[code]

Thanks for any help!

[2021-03-19 21:43] sshiraiwa commented on #59
Here is a short answer. Please take a look at this example. https://github.com/mfem/PyMFEM/blob/master/examples/ex3.py#L25
You need to create an object and define a method which PyMFEM will call from C++.

[2021-03-22 17:55] gillette7 commented on #59
Thanks!  The example was very helpful.  I realized I needed a scalar PyCoefficient and was able to get it like this (just noting for posterity):
[code]
...and then kept going from there!

[2021-03-22 17:55] #59 closed

[2021-03-26 13:39] jjaraalm opened #60 "Specify numpy version for dependencies"
It looks like the binaries installed with `pip install mfem` require matching versions of numpy, however these are not specified anywhere so pip does not seem to enforce this. The result is that, in a new environment after installing mfem 4.2.0.8 and numpy 1.19.2 I get the following error:

[code]

For now, I'll just play around with numpy versions until it works, but it would be better if depende

[2021-03-26 13:59] sshiraiwa commented on #60
Good suggestions.Binaries are built using GitHub actions. Apparently, reading a log (for example,https://github.com/mfem/PyMFEM/runs/1904511171?check_suite_focus=true), it is built either 1. 19. 5 or 1.20, depending on the version of Python. Therefore, I suppose >=1.19.5 will work. But, TBH, I am not sure why 1. 19. 2 does fail, in the sense, numpy release note does not indicate the incompatibilit

[2021-03-26 14:11] jjaraalm commented on #60
I'm using python 3.8 and got it work with numpy 1.20. I guess there is an API change between the 1.19 and 1.20 series.

[2021-03-26 18:07] sshiraiwa commented on #60
Thanks. Numpy 1.20, 1.20.1 is out at the same time as I was preparing the binary release. Probably, the best is to make a new release with 1.20.1 and add the dependency information as you suggested.

[2021-03-29 11:47] sshiraiwa commented on #60
I am closing this. Requirements.txt was added and released in PyPI as version 4.2.0.10.
This way "pip install mfem" will install numpy and scipy, if it is not installed.

Currently requirements.txt has
   numpy>=1.19.4; python_version<"3.7"
   numpy>=1.20.0; python_version>="3.7"
   scipy>=1.5.2
Note: numpy stopped supporting Python 3.6.

[2021-03-29 11:47] #60 closed

[2021-03-29 11:56] sshiraiwa commented on #57
My apology for slow response.

Assuming it is okay to interpolate each of 3x3 matrix element separately, one way is
to use RegularGridInterpolator. For example, you can generate an interpolation function in a global scope, like
[code]
I added a sample matrix_coefficient.
https://github.com/mfem/PyMFEM/blob/master/examples/wrapper_example/matrix_coefficient.py

Although the example returns a fixed

[2021-03-29 11:56] #57 closed

[2021-03-29 11:56] sshiraiwa commented on #57
Closing for now. Feel free to open if you have further questions.

[2021-03-29 11:57] sshiraiwa commented on #34
Closing this for now. I hope this works for you.

[2021-03-31 19:13] mortezah opened #65 "Assigning a constant to ParGridFunction objects"
How can the following C++ assignment operator be used in python version of the code

[code]

having a `ParGridFunction` object `gf` in python and the following expression

[code]

cause the type of `gf` to change.

@sshiraiwa

[2021-03-31 21:18] sshiraiwa commented on #65
Hi @mortezah
You can do gf.Assign(0.0) to set all values of Vector.
https://github.com/mfem/PyMFEM/blob/master/docs/manual.txt#L124

[2021-04-07 15:24] #65 closed

[2021-04-09 19:27] mortezah opened #66 "Not able to build PyMFEM parallel when using swig 4.0.0"
@sshiraiwa

I am not able to compile the parallel version of PyMFEM when locally building the wrappers using swig version 4.0.0. (see the attached log). Is there a minimum version requirement for swig?

[error.log](https://github.com/mfem/PyMFEM/files/6288027/error.log)

I am also attaching the offending wrapper file (compiled with swig version 4.0.0)
[datacollection_wrap_cxx_swig_4.0.0.txt](https

[2021-04-10 17:46] sshiraiwa commented on #66
Looking into this, the process to import cpointers.i (SWIG library) does not seem quite correct.
I am attempting to fix it in cpointer_fix. Can you take a look at https://github.com/mfem/PyMFEM/pull/70?

[2021-04-10 20:15] mortezah commented on #66
@sshiraiwa with the changes in #70 I can not build both serial and parallel versions of PyMFEM successfully.

[2021-04-10 23:30] #66 closed

[2021-04-27 16:01] startrekman opened #71 "Output vtk with solution data (how to call PrintVTK or PrintVTU?)"
So I can get a working output vtk file by doing the following:

mesh.PrintVTK("outmesh.vtk")

But I am not sure how to get it to print out the solution. So if I were to have the solution in sol and verts - just like in the example- how would I format mesh.PrintVTK or PrintVTU to show the solution in a field- say in ParaView?

Thank you for your time and help.

[2021-04-27 17:11] sshiraiwa commented on #71
I think gf.SaveVTK is the one which is supposed to be used for it. But, it looks like
it is not yet properly wrapped. Let me look into it more...

[2021-04-29 14:16] #71 closed

[2021-05-06 04:28] benzwick opened #74 "How to load compressed Mesh or GridFunction from file?"
Is there a way to load a grid function from a file using PyMFEM similar to this in MFEM: https://github.com/mfem/mfem/issues/1767

I have tried the following:
[code]
and
[code]
but neither approach works.

[2021-05-06 14:02] sshiraiwa commented on #74
Thanks. Can you use mfem.GridFunction(mesh file,  filename)?
Meantime, I will look into the way you pointed out.

[2021-05-06 14:27] benzwick commented on #74
Thanks for the quick reply @sshiraiwa. I did try `mfem.GridFunction(meshfile,  filename)` as well which also didn't work. Now I realized the problem is that I had saved the mesh and grid function as compressed (gz) files (these can be loaded in MFEM C++). I uncompressed the files and I can load them now in PyMFEM using the method you suggested. Is it possible to load the compressed files in PyMFEM

[2021-05-06 15:10] sshiraiwa commented on #74
Thank you for exploring what is going on. I didn't pay attention the compressed file. I think we can change
a wrapper to check if the filename given by a user ends with ".gz".

[2021-05-06 15:21] benzwick commented on #74
I think that would be the best approach. In the meantime do you know if it's possible to create a similar stream in Python as in C++ to uncompress the file and load the data into PyMFEM?

Also, is it possible to save functions to a ParaViewDataCollection? I couldn't find any examples of how to do this.

[2021-05-07 00:34] benzwick commented on #74
It would also be nice to be able to read compressed MFEM meshes. This is the error I get when trying to load e.g. `mesh.mesh.gz` (it works fine if I uncompress it first and load that instead):
[code]

[2021-05-07 01:00] sshiraiwa commented on #74
I agree. It looks to me to address all of them together....

[2021-05-07 15:13] sshiraiwa commented on #74
@benzwick
I am also fixing datacollection.
vtk.py and datacollection.py is already there. But, at present, it is not loaded when we do import mfem.ser as mfem .
In other word, tthey have to be manually loaded, like this !
[code]

Making PR to fix it now...;D

[2021-05-07 16:50] sshiraiwa commented on #74
PR (https://github.com/mfem/PyMFEM/pull/75) is made. Please take a look.
Will be tested and becomes 4.2.0.14, if everything goes well

[2021-05-08 02:57] benzwick commented on #74
@sshiraiwa, this is a nice improvement. Yes of course I can review the PR. What is the best way to install that branch (right now I am just using `pip install mfem` to install the stable release)? I tried the following:
[code]
which installs without errors but when I try to load mfem with `import mfem.ser as mfem` I get the following error:
[code]

[2021-05-10 12:09] benzwick commented on #74
Is it possible to load a compressed grid function that does not end with the `.gz` file extension? I am trying to load the compressed VisIt data collection (`visit_dc.SetCompression(True)`) like this:
[code]
This gives the following error:
[code]

Maybe this function could be updated to check whether the file is compressed or not based on the contents of the file:
https://github.com/mfem/PyMFEM/bl

[2021-05-10 14:07] sshiraiwa commented on #74
Good point

An issue is that, in MFEM, the constructor receives osgzstream for a compressed
file. So a user has a responsibility to tell the file is .gz. The wrapper, instead, has
to figure out it by itself.

I am not sure what is the best practice here. I could do for example this
test...

https://superuser.com/questions/115902/tell-if-a-gz-file-is-really-gzipped
(By the way, the link in this pag

[2021-05-11 02:05] benzwick commented on #74
There might be some ideas in the GLVis code but I don't know how that would translate to Python. For example using
[`ifgzstream`](https://mfem.github.io/doxygen/html/classmfem_1_1ifgzstream.html) or [`named__ifgzstream`](https://mfem.github.io/doxygen/html/classmfem_1_1named__ifgzstream.html) as done here:

https://github.com/GLVis/glvis/blob/95aecd8cf3e3038a36366cef14d5d2986a6a8c1a/glvis.cpp#L177

[2021-05-12 12:21] sshiraiwa commented on #74
Not sure what is going on. I did following and odata3 is the same as odata.
[code]

[2021-05-14 01:26] benzwick commented on #74
If I use a similar approach for the example I gave above where the data is saved by `VisitDataCollection` by adding the following lines to read the grid function:
[code]
I get the following output:
[code]
The values from the file do not seem to be loaded into `gf3`

[2021-05-19 22:02] sshiraiwa commented on #74
Understood! For std::istream &, there are methods returning an object, such as Mesh/GridFunction constructor.
Will work on a fix.

[2021-05-20 13:59] benzwick opened #80 "Install with STRUMPACK fails"
Attempting to install PyMFEM with option `--with-strumpack` as follows:
[code]
fails with the following error:
[code]

[2021-05-20 14:45] benzwick opened #81 "mesh.GetBoundingBox() does not work in parallel"
I get the following error:
[code]

It looks to me like `_mesh` should be replaced with `_pmesh` here:

https://github.com/mfem/PyMFEM/blob/b3b6b4ada5f7f1dcb70dd53fa17af569711278fd/mfem/_par/pmesh.py#L315

and also here:

https://github.com/mfem/PyMFEM/blob/b3b6b4ada5f7f1dcb70dd53fa17af569711278fd/mfem/_par/pmesh.py#L340

[2021-05-23 14:05] sshiraiwa commented on #80
There is a typo in the argument passed to CMake. This can be fixed easily.
However, STRUMPACK specific wrapper may require rebuilding SWIG wrapper.

[2021-05-23 14:05] sshiraiwa commented on #81
Thanks for reporting this. A fix is being in test...

[2021-05-24 14:19] sshiraiwa commented on #74
@benzwick Please try 4.2.0.16. Let me know if it is fixed.

[2021-05-26 04:55] benzwick commented on #74
@sshiraiwa I tried with 4.2.0.16 and it all works now. Thank you very much for fixing this.

[2021-05-26 04:55] #74 closed

[2021-05-28 01:19] benzwick commented on #80
It appears that the error above is fixed in 4.2.0.16 but now I get the following error. Does STRUMPACK library get installed automatically like Hypre and METIS or do I need to install it myself?

[code]

[2021-05-28 02:29] benzwick commented on #81
This is fixed in 4.2.0.16 #84

[2021-05-28 02:29] #81 closed

[2021-06-02 17:41] tzanio opened #85 "Support libCEED"
As part of the upgrade to mfem-4.3, can we enable the libCEED support?

[2021-06-02 17:42] tzanio commented on #85
ping: @YohannDudouit, @jedbrown

[2021-06-02 20:46] sshiraiwa commented on #85
@tzanio  I had an impression that  libCeed is rather backend infrastructure and haven't paid much attention. According to https://github.com/mfem/PyMFEM/blob/master/examples/ex1.py, -pa is already supported. I have a couple of questions...
 1) Is this a matter of adding an option to build MFEM with libCeed on from setup.py or detecting MFEM is compiled with libCeed on?
 2) Is there any low-level A

[2021-06-02 20:57] sshiraiwa commented on #80
@benzwick STRUMPACK needs to be installed separately. STRUMPACK has a multiple dependencies. It requires an effort to expaned setup.py to install it automatically.

[2021-06-02 21:06] tzanio commented on #85
It is mostly 1, I think but we need to check. Example 1 is a good one to use, we want to be able to run it with `-d ceed`.

[2021-06-02 22:58] gillette7 opened #86 "Changing viz options for with socketstream"
Is there a way to change the visualization options for a glvis call by sending pre-set keyboard commands?  For instance, this works for changing the title of the window:
`title = "Pretty picture"`
`sol_sock.send_text("window_title '" + title)`
I'd like to pass a string of characters indicating how I'd like glvis to do the rendering, akin to the interactive visualization - e.g. `gRc` - but it never

[2021-06-03 00:29] tzanio commented on #86
You can add the keys to the end of the stream as follows:

[code]

This is done e.g. in https://github.com/GLVis/pyglvis/blob/master/examples/ex1.ipynb.

[2021-06-03 04:20] jedbrown commented on #85
libceed is pip-installable, though the wheel is portable rather than optimized per architecture (and lacks GPU support). For MFEM, you don't actually need the libceed Python package since it's just C++ MFEM calling C libCEED.

We may in the future make libceed.so dynamic in being able to determine at runtime what instructions are supported and choose an appropriate implementation. It would simplif

[2021-06-03 22:14] #86 closed

[2021-06-09 20:19] gillette7 opened #87 "Support for p-refinement in PyMFEM"
I'm working with some folks on a project where we'd like to use p-refinement within PyMFEM.  p-refinement is supported in the upcoming MFEM release (v. 4.3) but we'd like to develop the PyMFEM hooks now.  My student Justin Crum who is at LLNL (virtually) for the summer will start tackling this.  Any concerns or questions, please contact me.  Thanks!

[2021-06-10 23:04] sshiraiwa commented on #87
Thank you for letting us know the plan. I think we should start a PyMFEM branch tracking
the mfem branch for 4.3. I suppose this is "nest" branch. Is it correct? -> @tzanio

[2021-06-10 23:07] tzanio commented on #87
It may be better to track `mfem-4.3-dev`, which I update periodically (`next` has changes that are still being tested and may not work).

[2021-06-11 22:05] sshiraiwa commented on #87
FYI. mfem-4.3-dev branch was made and a few changes are made including...

* setup.py has a new option --mfem-branch to specify which mfem branch to be downloaded.
*  couple of adjustment in SWIG interface files are make to run ex1.py and ex1p.py

Note:
 1)  I can not find the actual implementation of
    Mesh(Mesh *orig_mesh, const Array<int> &ref_factors, int ref_type),
 which is declared in mes

[2021-06-11 22:56] tzanio commented on #87
Thanks @sshiraiwa, let me take a look at the constructor.

Do you know where the memory leak is from?

[2021-06-11 23:21] sshiraiwa commented on #87
Memory leak is an error on the wrapper side.  HYPRE_BigInt was not properly recognized as a typedef.
It seems fixed now.

[2021-06-11 23:22] tzanio commented on #87
Ok, @pazner just fixed the first issue in https://github.com/mfem/mfem/pull/2189/commits/72fcd82618e0e2565189e15d5e2980ea86a78c9b (that constructor was removed)

[2021-06-11 23:31] v-dobrev commented on #87
Maybe we can now mark as **done** the reminder I left here: https://github.com/mfem/mfem/pull/2189#issue-619350974

[2021-06-11 23:56] Justincrum commented on #87
I'm getting a swig error when I try to do `python3 setup.py install --mfem-branch mfem-4.3-de`.  Is that something on my end that is messed up?

[2021-06-12 00:40] sshiraiwa commented on #87
Did you clone PyMFEM and switch to mfem-4.3-dev branch?
Can you paste the full error log?
Thank you.

[2021-06-14 15:43] Justincrum commented on #87
Yes, I clone PyMFEM and then swap to the mfem-4.3-dev branch.

So if I enter
`python3 setup.py install --mfem-branch mfem-4.3-dev`,

then the error I get is
[code]

[2021-06-14 21:59] Justincrum commented on #87
I think I got it to work.  The `find_command` function was defined in my file after it gets called, so I needed to move that up to just before the first time it is called, and then the value for the `"mfem"` key that the setup file is trying to run git clone from wasn't working so I had to copy and paste in a new clone string from the mfem github repo.

[2021-06-15 02:17] sshiraiwa commented on #87
Understood. swig_command is used only inside generate_wrapper. It should have been
defined in the function instead of in the global scope. I just pushed a commit to fix this.
Let me know if you encounter any other issues.

[2021-06-22 17:33] Justincrum commented on #87
@sshiraiwa I think I've got either a misunderstanding in how swig works or found another issue.

When I run `python3 setup.py install --mfem-branch drl4marking`, there's a function that is missing from the python side (drl4marking is a branch that a few of us are working on for reinforcement learning).

Specifically, we have a function in the gridfunction.cpp/hpp files called `ProlongToMaxOrder`.

[2021-06-22 21:24] sshiraiwa commented on #87
—branch simply download the specified mfem branch and build it.

If you have only one change like this, you may be able to do

touch mfem/*/gridfunc.i
python setup.py install --run-swig —with-parallel

to update a wrapper code. Otherwise, you could regenerate everything

python setup.py clean  —swig
python setup.py install --run-swig —with-parallel
python setup.py install --with-parallel

[2021-07-02 15:10] benzwick opened #88 "Segmentation fault when assembling linear form with MatrixVectorProductCoefficient"
I am trying to use `MatrixVectorProductCoefficient` in a `DomainLFGradIntegrator` as follows but I get a segmentation fault:

With Numba:
[code]

Without Numba:
[code]
Does anyone know what is going wrong here?

EDIT: simplified the example and added non-Numba version.

[2021-07-03 15:29] sshiraiwa commented on #88
@benzwick Thank you for reporting this. Looking into this, it seems this odd error comes from mfem itself, not wrapper.

The error is happening specifically this line, https://github.com/mfem/mfem/blob/master/fem/coefficient.cpp#L628

In mfem4.2, which PyMFEM is built with, this SetSize does not exist and the vector size remains zero.

If you are building mfem using setup.py, you can add SetSize t

[2021-07-04 04:03] benzwick opened #89 "Cloning MFEM using git protocol requires public key"
When I tried to install the `mfem-4.3-dev` branch as suggested in https://github.com/mfem/PyMFEM/issues/88#issuecomment-873424279 I got the following error:
[code]

I got it working by simply replacing git with https in setup.py:
[code]
Note that when trying to do this manually on GitHub there is this message:

Should the change be made in setup.py to use https to avoid this problem?

[2021-07-04 05:39] benzwick commented on #88
I installed the mfem-4.3-dev branch but now I get the following error when creating the `MatrixConstantCoefficient`:
[code]
A similar error occurs if I try to create a vector:
[code]

[2021-07-04 06:18] benzwick commented on #88
It appears that the bug in `MatrixVectorProductCoefficient` was reported in https://github.com/mfem/mfem/issues/1976, fixed in https://github.com/mfem/mfem/pull/1977 and merged into the master branch that will become 4.3.0.

Do you know if there are any plans to release MFEM 4.2.1 etc. with fixes for bugs like this?

[2021-07-04 07:33] sshiraiwa commented on #89
Probably yes ;D

[2021-07-04 07:36] sshiraiwa commented on #88
MFEM 4.3 seems coming soon. We should better just fix the issue you mentioned above. Let me look into it.

[2021-07-04 08:54] benzwick commented on #88
OK, `MatrixVectorProductCoefficient` works with 4.2 if I make the change to coefficient as you described above so shall I close this issue and open a new one for the problem with vector in 4.3 or just leave this one open for now?

[2021-07-16 01:04] jbschroder opened #90 "Getting DOF vertex locations"
Hi All,

Thank you for PyMFEM.  I've really been enjoying it, so far.

I'm currently generating some FEM matrices from example 9, and let's call the matrices that I get "A".

I would also like to get a list of vertex locations for each of A's degrees-of-freedom.  That is, if A is (n x n), I'd like to get an array of size (n x 2) of the x and y locations for each of A's degrees-of-freedom.

I have

[2021-07-16 18:19] sshiraiwa commented on #90
Do you want to find the coordinate of True DoF (DoF in linear algebra side shown in https://mfem.org/pri-dual-vec/)?

The way I would do is to go to each finite element and check how an integration point is
transformed to physical space. Take a look at a sample I made (https://github.com/mfem/PyMFEM/blob/mfem-4.3-dev/test/test_dofloc.py).

I think this works for H1 and DG in serial code. However,

[2021-07-16 19:25] sshiraiwa commented on #88
The issue in mfem-4.3 is due to the recent change of mfem header, where _data (and any other variable starting
with underscore) is renamed.

[2021-07-16 19:41] jbschroder commented on #90
Hi,

Thank you for the help!  Yes, I am looking for a True DoF to spatial
location map.  I'm also just planning on using Lagrangian bases, so that
should simplify things.  And you're right about parallel -- we just plan on
using serial for now.  So, I think that means that your code snippet should
work well for us.  I just ported it over, and tried for two meshes,
inline-quad.mesh and periodic-hex

[2021-07-16 20:49] sshiraiwa commented on #90
Closing...Thank you for prompt update.

[2021-07-16 20:49] #90 closed

[2021-07-17 14:21] sshiraiwa commented on #85
This is in-progress (https://github.com/mfem/PyMFEM/pull/91)

A quick question, in order to use CEED in MFEM parallel. Do I need to do something special other than adding MFEM_USE_CEED=1?

I am currently using this command options. But somehow, libmfem.so doesn't get linked with libceed.
[code]

[2021-07-17 14:23] sshiraiwa commented on #89
Closing this....Addressed in mfem-4.3-dev.

[2021-07-17 14:23] #89 closed

[2021-07-17 14:24] sshiraiwa commented on #88
Closing this for now.
Fix was made in current mfem-4.3-dev. Please re-open if you have further problems.

[2021-07-17 14:24] #88 closed

[2021-07-29 23:13] sshiraiwa commented on #85
Closing this since the last question was resolved.
python ex1.py -d ceed-cpu will work with 4.3 release.

[2021-07-29 23:13] #85 closed

[2021-08-04 17:11] gillette7 commented on #87
I'm getting a strange error when running `python setup.py install`:

It finishes compiling mfem but then this happens:

[code]

Any ideas how to fix this?  Thanks!

[2021-08-04 17:52] sshiraiwa commented on #87
Did you clean the wrapper code? If so, did you generate them?

When you have already build MFEM, then usual steps to re-generate wrapper and build them would be
$  python setup.py clean --swig     <---- this delete all wrapper code
$  python setup.py install --swig (--with-parallel if you want)  <---- this re-generates all *_wrap.cxx files
$  python setup.py install --skip-ext (--with-parallel if

[2021-08-05 01:38] junkudo opened #95 "pymfem with gslib"
Hi,
Are there active plans to introduce the gslib `FindPoints` routine in PyMFEM?

[2021-08-05 06:35] sshiraiwa commented on #95
@junkudo Thank you for bringing this up.

Our minimum goal is to provide Python version of examples in the level directory (examples/ex[0-9]*). Externals beyond it depends on user's request, and I am happy to take a look at anything.

Just quickly looking into this, adding gslib seems not so complicated.

Generally speaking, the complexity of supporting an external library depends on
-  if we can

[2021-08-05 18:45] junkudo commented on #95
I believe the MFEM's gslib find points satisfies those two requirements.  I could give this a shot if you could point me to where the modifications should be made.

[2021-08-05 20:57] gillette7 commented on #87
Thanks @sshiraiwa - that worked.  I didn't know about --skip-ext, which seemed to be the key step I was missing.

[2021-08-08 00:55] sshiraiwa commented on #95
Thank you for volunteering to look into this. Let me put together a small how-to doc. I will
come back to this after 4.3 wrapper release.

[2021-08-08 12:38] sshiraiwa opened #98 "ToDo for PyMFEM 4.4"
ToDo list
- [x] DenseTensor Constructor from numpy array (4.3.0.1)
- [ ] hypre mixedint support?
- [x] ex25, ex25p, ex30, ex30p
- [ ]  ex31, ex31p, ex32p
- [ ] HYPRE_USE_CUDA
- [x] gslib
- [x] distant_solver
- [x] migrate test in cuda 11.5
- [x] symmat.hpp
- [x] redo Array <T> constructor to support MemoryType

After 4.4
- [ ] Strumpack
- [ ] Binary release for Mac
- [ ] libCeed Algebraic Solver

[2021-08-09 18:47] sshiraiwa commented on #31
Closing this. The left over is  in
https://github.com/mfem/PyMFEM/issues/98  ;D

[2021-08-09 18:47] #31 closed

[2021-08-20 00:31] rw-anderson commented on #34
This has been working great for me, thank you very much.

I tried to extend this to the usage of derefinement, and I ran into some trouble. A minimal working example of the use case:

[code]

The difference here is the entry point is:
[code]
rather than
[code]
I was not able to use the signature of GetCoarseToFineMap() which has just 2 arguments (as above), because it seems not to exist in the pyt

[2021-08-20 00:32] rw-anderson commented on #34
By the way, the correct output looks like this:

[code]
Since it is just derefining element 0 after refining it.

[2021-08-20 22:02] sshiraiwa commented on #34
@rw-anderson  Not sure about old verison, but with PyMFEM 4.3.0.0, the following script produced
the exactly same output (smile)
[code]

[2021-08-20 22:22] rw-anderson commented on #34
Great! Yes I was on the last version and just updated... thanks again.

[2021-08-20 22:22] #34 closed

[2021-08-27 07:45] azeiser opened #99 "Memory problem DenseMatrix.Assign(np.array)"
Hi,
I was using a derived class from MatrixPyCoefficient and ran into memory problems. Using tracemalloc I tracked it down to the method EvalValue and the Assign method for DenseMatrix in _EvalPy. Using _EvalPy directly instead of creating an intermediate np.array in EvalValue solved the problem. To confirm the problem I wrote a small test program:
[code]
When started it uses 4 GB of memory: it se

[2021-08-30 06:38] azeiser commented on #99
Thanks for looking into it and fixing it!

[2021-09-13 01:54] tengzhang48 opened #102 "Modify the neo-Hookean solid code for more general hyperelastic model"
Hello,

I just tried the PyFEM on the Expanse cluster supported by SDSC. It is very convenient to install the software, which is very nice. Thanks a lot for your effort. I tested the ex10p and found it works well. I have a general question for implementing more complicated hyperelastic models, such as Arruda–Boyce model and Gent model, which are similar to the neo-Hookean model. It is also interes

[2021-09-14 11:53] azeiser commented on #99
Hi @sshiraiwa: everything is fine now, thank you a lot!

[2021-09-14 11:53] #99 closed

[2021-10-19 00:49] brendankeith opened #104 "How to modify swig files to sync with mfem master"
I am using PyMFEM in a project with @psocratis and @gillette7 where we commonly add new features to an older [mfem branch](https://github.com/mfem/mfem/tree/drl4marking) and swig generates the corresponding wrapper. We would like to update our old MFEM branch with the current version of master, but run into problems when linking with swig. For example, when linking MFEM's master to PyMFEM's master

[2021-10-27 13:53] #104 closed, assigned to nobody

[2021-11-17 12:50] helsmy opened #109 "Compile successfully but import error"
I compile this project with `python setup.py install --mfem-branch=master` on CentOS sucessfully.
But when I try to `import mfem.ser` I got
[code]
My enviroment:
- CentOS 7.9.2009 (Core)
- Conda 4.10.3
- Python 3.8.12
  - six 1.16.0
  - numpy 1.21.2
- GCC 8.1.0
- CMake 3.17.0

Any possible solution for this? Thanks advance.

[2021-11-17 15:43] sshiraiwa commented on #109
@helsmy Thank you for reporting this issue. This looks mysterious, since the serial install is not supposed to be linked with libmpi.so. As far as I try it from a clean new Docker image of CentOS7 and conda 4.3.21 (not 4.10.3, admittedly), I don't get this error. Do you see something suspicious in your install log?  If the entire install log is available, we may be able to further diagnose the iss

[2021-11-17 16:33] helsmy commented on #109
I uninstall previous mfem package and recompile it again. And errors change to:
[code]
I log stdout to this file [install.log](https://github.com/mfem/PyMFEM/files/7556307/install.log) and stderr to [errors.log](https://github.com/mfem/PyMFEM/files/7556309/errors.log)

[2021-11-17 16:46] sshiraiwa commented on #109
Thanks. PyMFEM cloned from git master needs to be linked with MFEM master. According the log, it successfully built MFEM master, but it did not re-build PyMFEM since, perhaps, old built is there. Can you try
[code]
--skip-ext is an option not to compile MFEM again.

[2021-11-17 18:54] helsmy commented on #109
I delete everything about previous PyMFEM, and rebuild it. `cpointers` are okay but got a new error:
[code]
Here is the log for this time
[install.log](https://github.com/mfem/PyMFEM/files/7557223/install.log)
[errors.log](https://github.com/mfem/PyMFEM/files/7557224/errors.log)

[2021-11-17 19:55] sshiraiwa commented on #109
I think what is happening is that MFEM and PyMFEM is compiled with different compiler. Internally MFEM is build by cmake and cmake find a compiler by itself different from c, c++, which setup.py uses.
After cleaning it, can you try specifying compiler from the command line like
[code]

[2021-11-18 07:24] helsmy commented on #109
It works, thanks. Beside there is a duplicated `=` in command, it would better be `-CC=/public3/soft/gcc/8.1.0/bin/cc`

[2021-11-18 07:43] sshiraiwa commented on #109
Great. Looking back, I think setup.py should check what compiler is used to build MFEM, especially
when it is building both like this case.

[2021-11-23 11:34] helsmy commented on #109
Hi, I try to compile the parallel version with conda, but I got `/home/sence/miniconda3/envs/fem/bin/../lib/gcc/x86_64-conda-linux-gnu/9.3.0/../../../../x86_64-conda-linux-gnu/bin/ld: cannot find -lz`
It seems that ld of conda cannot find the zlib of conda. Any possible way to solve this?
Here's the logs
[install.log](https://github.com/mfem/PyMFEM/files/7587554/install.log)
[error.log](https://gi

[2021-11-23 12:51] sshiraiwa commented on #109
Maybe it is necessary to specify the compilers for parallel too.
[code]

[2021-11-23 13:40] helsmy commented on #109
I use `$ python setup.py install --with-parallel --CC=$CC --CXX=$CXX --MPICC=mpicc --MPICXX=mpicxx `
And compile suite of conda, GCC 9.3 cmake 3.19.6. But, I still got the same error.

[2021-11-23 15:25] sshiraiwa commented on #109
Thanks. This seems due to the fact that conda uses LDFLAGS to set compiler's library path. Setup.py uses CMAKE_SHARED_LINK_FLAG to give an additional search path, but it is initialized with empty. I made PR110 to set it to LDFLAGS.  I suppose this is how it should be. Please try this PR. Note that this is PR to master, therefore --mfem-branch=master is necessary.

[2021-11-24 14:38] helsmy commented on #109
I add lines to setup.py as pull 110. It sucessfully link zlib, but it got errors when compile examples under serial.
`/public3/home/sc52474/miniconda3/envs/FEM2/bin/../lib/gcc/x86_64-conda-linux-gnu/9.3.0/../../../../x86_64-conda-linux-gnu/bin/ld: /public3/home/sc52474/miniconda3/envs/FEM2/lib/libstdc++.so: undefined reference to `aligned_alloc@GLIBC_2.16'`
It seems I miss some package here, but i

[2021-11-24 15:33] sshiraiwa commented on #109
Can you try a change I just made in PR111. There is one line, which set DCMAKE_EXE_LINKER_FLAGS.

[2021-11-24 18:11] helsmy commented on #109
It seems that it can not find some thing in stdlibc++ at compiling test on serial part
CMakeError.log:
[code]

[2021-11-24 18:36] sshiraiwa commented on #109
Not sure what is going on. Serial build goes thorough with centos7.9.2009 docker image + Anacond3-2021.11-linux-x86_64.sh. There are people reporting a similar issue relating to GLIBC version (https://github.com/data61/MP-SPDZ/issues/1).

[2021-11-24 21:53] v-dobrev commented on #109
The above source is from the CMake module https://github.com/mfem/mfem/blob/master/config/cmake/modules/FindPOSIXClocks.cmake and it should be fine to fail -- it should continue and test the same source with the `-lrt` flag (where it should find `clock_gettime`). And even if these tests fail, that should be fine too and the MFEM CMake build system should just pick standard C++ functions for its ti

[2021-11-24 22:05] sshiraiwa commented on #109
@v-dobrev  Thank you for comment. Setup.py picks what $CC, $CXX says for compiler to build MFEM and then PyMFEM.
In Anaconda, one can install an additional compiler (although I never did before...) and, for example,
[code]
will set $CC, $CXX to `x86_64-conda-linux-gnu-c++`. However, `x86_64-conda-linux-gnu-c++` itself seems okay, as I reported above.

[2021-11-24 22:33] v-dobrev commented on #109
Hmm, looking at the lines (from the above):
[code]
it looks that either `libstdc++.so` is not linked properly, or the C++ compiler is not adding the right link flag (when invoking `ld`) for things like `aligned_alloc@GLIBC_2.16` and `clock_gettime@GLIBC_2.17`.

[2021-11-26 09:34] helsmy commented on #109
I try to compile with gcc and mpi provided by system. gcc 9.1.0 and intel mpi 17. Everything but wappers goes fine . I got this
https://pastebin.com/2DHrehFz

[2021-11-28 20:09] sshiraiwa commented on #109
Hi. @helsmy. The error is happening when the compiler looks for `inline Array(int asize, MemoryType mt)`. I am not sure how it is happening. But, this method was added only after 4.3 release (Blame says it is added 2 months ago). Thus, I am guessing that you might have MFEM 4.3, although at some point above, you had 4.3.1 installed.  One thing to try is to clean all external build directory as fol

[2021-12-01 18:30] helsmy commented on #109
Hi, I try to compile with gcc 8.1.0 and mpich 3.4.2. `import mfem.ser` works just fine, but `import mfem.par` got wrong.
[code]
I use mpich compiled by myself and install it in `~/.local`. How to solve this? Thanks
This is my install.log: [install.log](https://github.com/mfem/PyMFEM/files/7636349/install.log)

[2021-12-02 12:33] #109 closed

[2021-12-10 00:35] jbschroder opened #113 "PyMFEM on M1"
Hi All,

First, thank you for PyMFEM!  I use it on ubuntu, and it's great.  But, I'm having issues installing on an M1 Mac, with homebrew underneath.

First, I had to update the CMakeLists.txt that appears in external/mfem/miniapps/performance to use
-mcpu=apple-m1
instead of
-march=native

And that resolved a clang error.  But, now while installing, it seems that I've hit a Swig bug ( I think).

[2021-12-10 13:59] sshiraiwa commented on #113
Did you clone it from github? If so, --mfem-branch=master flag is necessary, as shown in front page README. If you haven't done this, please try it. Besides, thank you for testing it and reporting the necessary change for M1.

[2021-12-10 15:06] jbschroder commented on #113
Hi,

No, I hadn't been using the master flag.  Somehow I missed that on the
front page.  Sorry about that.  I manage to get ex1.py running properly
with the following,
* clone from website
* python3 setup.py install --prefix=~/.local/ --CC=gcc --CXX=g++
 --mfem-branch=master
* replace " -march=native "  with " -mcpu=apple-m1 " in
external/mfem/miniapps/performance/CMakeLists.txt
* python3 setup.py

[2021-12-10 18:05] tzanio commented on #113
Hi @jbschroder,

Do you want to add a fix for this in mfem, similar to https://github.com/mfem/mfem/pull/2273?

Tzanio

[2021-12-22 15:23] sshiraiwa opened #114 "Build fails with latest setuptools"
With setuptools v60.0.3
Python 3.7 and 3.8 fails with this
[code]
Python 3.9 fails with
[code]

[2021-12-23 14:06] sshiraiwa commented on #114
Fixed (#112)

[2021-12-23 14:06] #114 closed

[2022-02-04 03:06] rw-anderson commented on #87
The latest pymfem which "pip install mfem" grabs seems to be built against mfem 4.3, but it seems to be missing some of the new interfaces present there. For example, FiniteElementSpace::SetElementOrder(). Should this be the case?

[2022-03-17 13:44] sshiraiwa opened #136 "4.4 Preparation"
ToDo list
- [x] regenerate wrapper with latest
- [x] pass build_test_with_mfem44
- [x] ex31, ex31p, ex32p
- [x] HYPRE_USE_CUDA
- [x] gslib
- [x] distant_solver
- [x]  GetCooArrayData() to extract data to construct scipy.coo_matrix
- [ ] Include CUDA built HYPRE in test

After 4.4
- [ ] Strumpack
- [ ] Binary release for Mac
- [ ] libCeed Algebraic Solver

[2022-03-17 13:45] sshiraiwa commented on #98
Closing this

[2022-03-17 13:45] #98 closed

[2022-03-22 17:27] #136 closed

[2022-03-31 14:42] aurelio-hm opened #137 "Cannot use CurlGridFunctionCoefficient"
Hi PyMFEM team,

First of all, thank you for this very nice Python wrapper for the MFEM library. I would like to compute the curl of a vector-valued ParGridFunction, for which I tried to use `CurlGridFunctionCoefficient`. Please see below a very simplified example:
[code]
Doing so raises the following error:
[code]
Is this supposed to happen? I'm using PyMFEM in an Apple M1 computer. Thanks in adv

[2022-03-31 16:20] sshiraiwa commented on #137
Hi @aurelio-hm.   Can you try using the latest version of of PyMFEM? I think this issue was addressed very recently, when ex31p was created.
https://github.com/mfem/PyMFEM/commit/9993beadf3b7965bcdc12ba0a7ef164dbad0dc5a

[2022-03-31 23:58] sshiraiwa commented on #137
Hi @aurelio-hm. By the way, your traceback says
[code]
meaning that you are somehow calling serial version. Are you doing import mfem.ser somewhere? Please note that one can either load serial (mfem.ser) or parallel (mfem.par).

[2022-04-01 06:45] aurelio-hm commented on #137
Hi @sshiraiwa. I also tried importing `mfem.ser` and setting `gf = mfem.GridFunction()` and accidentally copied its output instead of the one with `mfem.par`.

Indeed, I was using v4.3.0.6. I have compiled the serial wrapper from v4.4.0.0 in macOS and it works perfectly. Many thanks for your help!

[2022-04-01 06:45] #137 closed

[2022-05-23 21:32] adantra opened #139 "FindPointsGSLIB"
Are there any plans to implement this class in pymfem?

[2022-05-23 22:22] sshiraiwa commented on #139
At moment, PyMFEM support FindPointsGLSIB in parallel wrapper. However, our pre-generated wrapper code does not wrap GSLIB. To do this, you need to have SWIG (version 4.0.2) installed and re-generate wrapper. Below are sample steps to do this
starting from vanilla virtualenv.

[code]
Then, you can run find_interp.py in miniapps/gslib
[code]
If you have glvis installed. Launch it without argument,

[2022-05-23 22:25] sshiraiwa commented on #139
Two side notes:
1) GSLIB build script in setup.py somehow did not work without mpi compiler. This needs to be addressed in future
2) Just noticed that the source distribution from PyPI does not contain miniapps sub-directory. Should be fixed later.

[2022-05-24 16:58] adantra commented on #139
Thanks! I will try this. It should be straightforward with this information.

[2022-05-24 21:38] adantra commented on #139
It worked. Thanks again.

[2022-05-24 21:38] #139 closed

[2022-08-09 22:44] DeIonizedPlasma opened #141 "Failing to run parallel tests/examples on a parallel installation"
Hello,

I installed PyMFEM with parallel support using `python setup.py install --mfem-branch=master --with-parallel --CC=cc --CXX=c++ --MPICC=mpicc --MPICXX=mpicx`, and while the parallel examples in C seem to run properly, the PyMFEM ported examples all fail. When I execute `python run_examples.py -parallel` to compare PyMFEM and MFEM example outputs, every C example runs and properly generates

[2022-08-10 17:36] sshiraiwa commented on #141
Thank you for reporting the issue. It seems the one in the master seems has a issue with MFEM master branch.
Working on a fix.

[2022-08-29 21:57] sshiraiwa commented on #141
@DeIonizedPlasma when you have time, can you try the current master branch? The issue was that the wrapper code in master was generated with a slightly older version of MFEM. It became incompatible with MFEM master as MFEM master evolves.

[2022-08-31 21:20] adantra opened #144 "compilation error using intel compilers"
I have been compiling PyMFEM successfully using intel compilers but now I am getting a compilation error. Has anybody faced the same issue?

Five days ago the compilation with intel was still working.

Any clues?

[2022-08-31 21:48] sshiraiwa commented on #144
Are you using master branch? It is true that I merged one PR yesterday (or one day before). Can you share the error message you are seeing?

[2022-09-01 15:59] adantra commented on #144
The error happened when using the master branch. After the following command:
python setup.py install --with-gslib --with-parallel --ext-only --CC=icc --CXX=icc --MPICC=mpiicc --MPICXX=mpiicc

we got the following error:

icc -pthread -B /home/docker/.conda/envs/mfem/compiler_compat -shared -L/home/docker/.conda/envs/mfem/lib -Wl,-z,noexecstack,-z,relro,-z,now,-rpath,$ORIGIN/../..,-rpath,$ORIGIN/.

[2022-09-02 04:58] i3s93 commented on #144
I'm also encountering issues when trying to build on a cluster with Intel compilers, but have not yet identified a solution either. My errors are slightly different. Since I already have builds for serial and parallel MFEM, I decided to provide the prefix of the path to the dependencies. When I run

`python setup.py install --with-parallel --CC=icc --CC=icc --MPICC=mpiicc --MPICXX=mpicc --mfemp-pr

[2022-09-02 15:24] adantra commented on #144
For more clarity, I am performing the following commands:
python setup.py install --with-gslib --with-parallel  --ext-only --CC=icc --CXX=icc --MPICC=mpiicc --MPICXX=mpiicc
python setup.py clean --swig
python setup.py install --with-gslib --with-parallel  --swig
python setup.py install --with-gslib --with-parallel  --skip-ext --CC=icc --CXX=icc --MPICC=mpiicc --MPICXX=mpiicc

This last step produc

[2022-09-02 16:27] adantra commented on #144
After many attempts I realized that if you specify the branch=master it works. The commands are as follows:
python setup.py install --with-gslib --with-parallel --ext-only --CC=icc --CXX=icc --MPICC=mpiicc --MPICXX=mpiicc --mfem-branch=master
python setup.py clean --swig
python setup.py install --with-gslib --with-parallel --swig
python setup.py install --with-gslib --with-parallel --skip-ext --CC

[2022-09-03 16:08] sshiraiwa commented on #144
@i3s93, @adantra .
Thank you for reporting this. The command sequence @adantra regenerate a entire wrapper code, and it is good know that the SWGI recipe files (*.i) are still okay. @i3s93, please let us know if the command sequence works for you, too.

Incidentally, I am working on an update to run SWIG automatically in https://github.com/mfem/PyMFEM/pull/143. I will make sure that it will be tes

[2022-09-03 16:15] sshiraiwa commented on #144
By the way...
When mfem-branch=master is not set. setup.py build MFEM with a specific version of MFEM.
Master branch build it using MFEM 4.4 release (specified in https://github.com/mfem/PyMFEM/blob/master/setup.py#L54)
Probably I should have modified it to a newer version (see https://github.com/mfem/PyMFEM/blob/autorun_swig_dev/setup.py#L55), when I merged a recent PR.

[2022-09-08 05:38] i3s93 commented on #144
@sshiraiwa, sorry for the late response. In short, the sequence of commands above works for me in the case of the serial build. I ran your script `run_examples.py` in serial mode and most of the tests pass, but there seems to be a problem with examples 4 and 25. I believe you are already aware of the latter case. In example 4, it looks like the output is slightly different, but I have not investig

[2022-09-09 16:39] sshiraiwa commented on #144
@i3s93 Thank you. METIS recently changed to put some functionality outside as GKlib. This is caused by an adjustment I introduced due to this change. Actually, handling this change is more complicated than I thought, since depending on the version of METIS, mfem may or may not need to be linked using -GKlib. For now,  we are rolling back the setup.py script to specifically  use an older version in

[2022-09-29 16:23] adantra opened #146 "Is it possible to create a mesh object from an array of mesh objects?"
This constructor exists in c++ ( Mesh::Mesh(Mesh *mesh_array[], int num_pieces) ) and it seems to e available in the python bindings. However I have to been able to make it work.
I have multiple grids obtained from a parallel run and want to build a new grid using a subset of those grids. Any clue?

[2022-09-29 18:12] sshiraiwa commented on #146
Thank you for reporting this. It looks like the first input argument (Mesh *mesh_array[]) needs a special handling to make a wrapper clean. Let me look into it bit more how best it can be done

[2022-10-01 04:34] DeIonizedPlasma commented on #141
I ran again on the current master branch with the same command, but first had to implement the fix mentioned in KarypisLab/GKlib#13

[2022-10-01 05:06] DeIonizedPlasma commented on #141
Apologies for the preliminary close. I attempted to run the same command but ran into a known GKlib issue (KarypisLab/GKlib#13) which required editing the gklib sha key to clone an older version. This time I am unable to get PyMFEM to successfully build at all, and the errors are not very helpful in illuminating why. I have attached the output and error messages, which I'm unable to discern the ca

[2022-10-02 20:46] sshiraiwa commented on #146
This is going to be added in next (https://github.com/mfem/PyMFEM/tree/next).
In order to make the interface cleaner, MakeMerged (https://github.com/mfem/PyMFEM/blob/next/mfem/_ser/mesh.i#L364) is added.
[code]
![image](https://user-images.githubusercontent.com/1929159/193475460-c776b9a2-62a2-4c9b-bc47-7b80e32c9c81.png)

[2022-10-02 20:51] sshiraiwa commented on #146
Side note: starting from the next branch, SWIG is needed in your command search path. If you don't have it
[code]
will do what you need.
Once, PyMFEM is cloned from repository, for example
[code]
will do
1) clone and build METIS (using the one under MFEM repo), and Hypre
2) clone and build MFEM (twice with serial and parallel)
3) generate wrapper codes using SWIG (<- new)
4) build the wrapper code

[2022-10-03 05:58] tbridel opened #147 "Compilation error: rpath are broken"
Hello everyone,

I am on a Darwin platform with the apple M1 CPU and for other reasons I have to stick with the compiler suite by `llvm` and the interface of `open-mpi` for parallelism - as for versions, they are as follow:

[code]

[code]

I am trying to compile PyMFEM with pre-installed MFEM, HYPRE & METIS v5.1.0 distributions.
MFEM is installed with the following options:

[code]

I have had a

[2022-10-03 09:53] tbridel commented on #147
Update: I tried the `next` branch, and things don't go to the end altogether.

Is there a (strong) dependency on `setuptools` @sshiraiwa ?

[2022-10-03 13:23] sshiraiwa commented on #147
@tbridel, I feel to hear having a lot of trouble. I haven't checked with M1 Mac environment. Mac tend to do
something special with run environment, and something can be broken. The second error, however, looks
strange. To be sure, I just test it using a clean docker Python 3.10 image and it does run w/o an error.
[code]
Although it is not Mac, I don't see why/how it errors like "mfem/__init__.py i

[2022-10-03 14:03] tbridel commented on #147
Hi @sshiraiwa !

Thank you very much for your coming back to me :)

- [x] I had not tried on a separate docker indeed: I have the same results as you,  the install goes well and the tests pass.
- [ ] Since you gave some specific package for the minimal python distribution you require, I tried with a virtualenv again, directly on the Mac this time.

[code]

This leads to the following crash/fault i

[2022-10-03 14:04] tbridel commented on #147
Update regarding the `multiprocessing` remark above: it has nothing to do with it. Everywhere in `setup.py` where the `cpu.count()` was used, I hardcoded `1`, but it crashes in the same way:

[code]

[2022-10-03 14:16] tbridel commented on #147
Ok, here is an update regarding the `multiprocessing` investigation.
I commented everything in `setup.py` related to `multiprocessing`, and everytime there was a mapping to a `Pool` I wrote a good old for loop (I attach my `setup.py` so you can diff it).
[setup.py.zip](https://github.com/mfem/PyMFEM/files/9698228/setup.py.zip)

Result is that now the install goes beyond

[code]

and finishes as ex

[2022-10-04 02:04] sshiraiwa commented on #147
@tbridel Thank for your effort to narrow down the problem. I did a quick search to look for anything special in MacOS multiprocessing. I encountered this (https://www.reddit.com/r/learnpython/comments/g5372v/multiprocessing_with_fork_on_macos/) and this (https://youtrack.jetbrains.com/issue/PY-51409/Python-38-and-MacOS-multiprocessing-module-uses-spawn-as-default).

Not fully sure yet this is rela

[2022-10-04 05:41] tbridel commented on #147
Hi @sshiraiwa 👋

You're right, good find ! Setting `multiprocessing.set_start_method("fork")` after the import does the trick and the install goes to the end successfully.

Maybe to keep it general, you could consider something in the lines of:

[code]

?

Thank you for your help anyhow ;)

[2022-10-05 12:41] sshiraiwa commented on #147
Wonderful. I did add the lines you suggested.
I am hoping to get this branch to be merged in a week or so.  The main remaining task is
to update Github actions under .github.

[2022-10-05 12:50] tbridel commented on #147
That sounds great, thanks ! 🥳

[2022-10-07 15:32] adantra commented on #146
@sshiraiwa, thanks! I will try this branch this weekend.

[2022-10-07 16:59] adantra commented on #146
Unfortunately I cannot use this branch because an issue with GKlib. I am using intel compilers.

[2022-10-07 17:04] sshiraiwa commented on #146
Hi @adantra. Can you upload the error message you are seeing? Next does not depends on GKlib as long as setup.py builds METIS. Are you providing METIS build from somewhere else?

[2022-10-07 17:37] #87 closed

[2022-10-07 19:55] #147 closed

[2022-10-07 20:26] adantra commented on #146
@sshiraiwa the whole compilation output is atached:
[pymfem_compile_out.txt](https://github.com/mfem/PyMFEM/files/9737284/pymfem_compile_out.txt)

[2022-10-07 21:21] sshiraiwa commented on #146
@adantra
Thank you. Looks like MFEM build is failing. In the last cmake command, i noticed  -DCMAKE_CXX_COMPILER=mpiicc.
If I am not mistaken, C++ compiler should be icpc and mpiicpc. Are you passing as follows?
-```
-CC=icc --CXX=icpc --MPICC=mpiicc --MPICXX=mpiicpc
[code]

[2022-10-07 21:31] adantra commented on #146
@sshiraiwa, yes. This is the command line I am using
python setup.py install --with-parallel --CC=icc --CXX=icc --MPICC=mpiicc --MPICXX=mpiicc

[2022-10-07 21:34] sshiraiwa commented on #146
CXX needs to point c++ compiler. (same as MPICXX). icc is C-compiler and they are not the same.
Please change it to --CXX=icpc and --MPICXX=mpiicpc`

[2022-10-08 00:47] adantra commented on #146
I fixed that and the problem persists. I created a fresh environment and tried again. Here is the output:
[output.txt](https://github.com/mfem/PyMFEM/files/9738032/output.txt)

[2022-10-08 06:44] sshiraiwa commented on #146
Hi @adantra. This log file looks much shorter and looks like it fails building METIS.
In line#16, it says "c++ compiler : icc". This should be icpc
Also, line#69 says "Download metis skipped. Use clean --all-exts if needed". So, somehow, METIS was already downloaded.

Can you please try
[code]
This should clean whatever garbage from previous build failure, So
[code]
should be empty. Then, try runn

[2022-10-08 15:13] sshiraiwa commented on #144
@i3s93, @adantra
Closing this for now. As mentioned earlier, we rolled back setup.py to point an older version of METIS when building it from setup.py. Please take a look at the current master (https://github.com/mfem/PyMFEM/releases/tag/v4.4.0.1).
Note that when compiling with intel the proper option is. --CXX=icpc  --MPICXX=mpiicpc. Also, (probably) mpi4py needs to compiled with the same MPI com

[2022-10-08 15:13] #144 closed

[2022-10-08 15:34] sshiraiwa commented on #141
@DeIonizedPlasma Sorry for late response here. As discussed in other thread, we rolled back setup.py to point METIS 5.0.1.
Please take a look at current master, and let us know if you find any issue.
I don't have the same environment as you have setup right now, but here what I ran starting from a vanilla docker python image to build parallel.
[code]
or to use the package in PyPI, one can do the f

[2022-10-08 15:38] #113 closed

[2022-10-08 15:39] #95 closed

[2022-10-08 19:50] DeIonizedPlasma commented on #141
The above sequence of commands was enough to get it working on my machine. It works with docker and with miniconda's environment manager. I'm guessing my error was installing mpi4py without the mpicc argument, or that I was missing one of the mpi installs on the line above. Thank you!

[2022-10-08 19:50] #141 closed

[2022-10-09 17:02] benzwick opened #150 "`pip3 install mfem --install-option="--with-parallel"` not working"
When I install PyMFEM using `pip3 install mfem --install-option="--with-parallel" --verbose` I cannot import `mfem.ser` or `mfem.par`:

[code]

Despite the installation appearing to be successful:
[code]

[2022-10-09 17:41] benzwick commented on #150
Maybe the problem is that the files are put here:
[code]
instead of here:
[code]
i.e., there is an additional `local` subdirectory in the path so Python cannot find these.

See these output lines:
[code]
Also, these files:
[code]
are in a different location than
[code]
which appears to be in the correct location.

[2022-10-09 17:43] sshiraiwa commented on #150
@benzwick , thank you for reporting this. This is a bit puzzling, since it looks like mfem is installed under /home/ben/.local/local/lib/python3.10. In my environment, it goes under xxxx/.local/lib/python.....
For example, I just tried two cases and I got
[code]
When neither --prefix nor --user is given, this function (https://github.com/mfem/PyMFEM/blob/master/setup.py#L221) looks for a place to

[2022-10-09 18:08] benzwick commented on #150
I tried with `--prefix=~/.local` option but it didn't change anything. As a temporary solution, I copied the files to the correct location and it seems to work.

[code]

[2022-10-09 18:31] benzwick opened #151 "module 'mfem.par' has no attribute 'QuadratureSpace'"
This was working about a year ago, but now `QuadratureSpace` is not available:
[code]

[2022-10-10 00:16] sshiraiwa commented on #151
Thanks. This is oversight. It looks like QuadratureSpace was moved to qspace.hpp in recent MFEM, thus using --mfem-branch='master' makes it disappear.

[2022-10-10 00:48] sshiraiwa commented on #151
@benzwick I am trying to address this in PR#152. Please let me know if this works for you.

[2022-10-10 01:38] benzwick commented on #150
I deleted all the existing PyMFEM installations and tried again but now I get this error instead and cannot install the parallel version at all:
[code]

[2022-10-10 01:40] benzwick commented on #151
@sshiraiwa Thanks for looking at this. I will have to wait for #150 because I cannot install parallel MFEM with pip right now.

[2022-10-10 06:57] sshiraiwa commented on #150
Hmmm, I can not reproduce this.
Reading this line number 172, could it be possible that your setuptools is slightly old?
[code]
Also, what is your environment? I see _distutils_system_mod.py  in you error message. But I don't have it either my virtualenv or docker.

[2022-10-10 08:03] benzwick commented on #150
I am using Python 3.10 on Ubuntu 22.04.

It looks like setuptools may have been downgraded when I installed numba:
[code]
With the upgraded setuptools I no longer get the above error and the installation is working again with this command:
[code]
However, the files are still installed in the wrong place as before. It works after I manually move these directories:
[code]
to here:
[code]

Maybe it i

[2022-10-10 18:23] sshiraiwa commented on #151
Okay. I throw in a few more *.i files (https://github.com/mfem/PyMFEM/pull/153). If you have a short example for testing methods you need, please contribute.

[2022-10-11 06:47] benzwick commented on #151
Thank you @sshiraiwa, with these additional changes my code is working again.

[2022-10-11 08:11] jcwright77 commented on #144
Hi Syunichi,
its not apparent from this where you have libGK installed. Did you build GK
and install in the metis lib directory?  It would not have been downloaded and
built automatically. It is a new dependency since metic 5.
-john

On Thu, September 8, 2022 1:38 am, William Sands wrote:

--
Principal Research Scientist John Wright
Office 617-253-9612
zoom: https://mit.zoom.us/my/jcwright

[2022-10-11 12:43] sshiraiwa commented on #144
Hi, @jcwright77. We are using .tar.gz file of metis under https://github.com/mfem/tpls, This includes libGK.
This is an older form of how METIS5 was packaged. It is not necessary to download libGK separately.

As a side note, in setup.py, if you change the following flag to True
[code]
then, it downloads both libGK and METIS from Github repo. It also makes some adjustment to a link flag
when build

[2022-10-11 17:02] adantra commented on #146
@sshiraiwa, I tried your suggestions, and now everything works as expected. Thanks!

[2022-10-11 17:02] #146 closed

[2022-10-12 17:28] #151 closed

[2022-10-27 15:49] sshiraiwa opened #154 "(Done) MFEM 4.5"
This is a ToDo list for PyMFEM 4.5.

At moment, python3 setup.py install --mfem-branch=master seems working.

- [x] support / test sub-mesh feature
- [x] imporove mfem.jit to allow for using GridFunctionCoefficient inside numba-JITed coefficient
- [x] check with SWIG 4.1.0
- [x] fix the broken option of building MFEM with Lapack
- [x]  https://github.com/mfem/PyMFEM/issues/157
- [x] https://github

[2022-11-30 18:28] hbadi opened #156 "Windows mingw compilation"
Hi,
Does someone already managed to compiled PyMFEM inside MinGW environment ?

Best regards.